<nav class="navbar">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Guild Manager</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/new-world" class="nav-link">New World</a>
            </li>
            <li class="nav-item">
                <a routerLink="/throne-liberty" class="nav-link">Throne & Liberty</a>
            </li>
            <li class="nav-item">
                <a routerLink="/pricing" class="nav-link">Pricing</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" class="nav-link">Login</a>
            </li>
        </ul>
    </div>
</nav>
