<nav class="bg-white shadow-lg">
    <div class="container px-4 mx-auto">
        <div class="flex items-center justify-between h-16">
            <!-- Logo -->
            <div class="flex justify-between">
                <div class="flex items-center pr-5 logo">
                    <a href="/" class="text-xl font-bold logo-link">GM</a>
                </div>
    
                <div class="flex items-center pr-5 sublogo">
                    <a routerLink="/new-world" class="p-2 text-white bg-teal-700 rounded">New World</a>
                </div>

                <!-- Main Navigation -->
                <div class="items-center hidden space-x-4 md:flex navigation">
                    
                    @for (item of newWorldNavItems; track item.path) {
                        <a [routerLink]="item.path" routerLinkActive="text-blue-800" class="px-3 py-2 text-sm font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-100">
                            {{ item.label }}
                        </a>
                    }

                    @if (auth.currentUser$ | async) {
                        <a routerLink="/new-world/characters" class="px-3 py-2 text-sm font-medium text-gray-700 rounded-md hover:text-gray-900 hover:bg-gray-100">
                            Characters
                        </a>
                    }

                   

                </div>

            </div>
  
            <!-- Right Navigation -->
            <div class="flex items-center space-x-4">
                <input type="text" 
                       placeholder="Search..." 
                       class="px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-new-world-primary">

                <app-user-menu />
            </div>

            
        </div>
    </div>
    


</nav>