<nav class="main-nav">
    <div class="container px-4 mx-auto">

        <div class="flex items-center justify-between h-16">
            <div class="flex items-center justify-between">
                <!-- Logo -->
                <div class="flex items-center pr-5 logo">
                    <a href="/" class="text-xl font-bold logo-link">GM</a>
                </div>

                <!-- Main Navigation -->
                <div class="items-center hidden space-x-4 md:flex navigation">
                    
                    @for (item of mainNavItems; track item.path) {
                        <a [routerLink]="item.path" routerLinkActive="text-blue-800" class="px-3 py-2 text-sm font-medium rounded-md text-slate-300 hover:text-gray-900 hover:bg-slate-200">
                            {{ item.label }}
                        </a>
                    }

                </div>
            </div>
            

            <!-- Right Navigation -->
            <div class="items-center hidden space-x-4 md:flex secondary-nav ">
                
                @for (item of secondaryNavItems; track item.path) {
                    <a [routerLink]="item.path" routerLinkActive="text-blue-800" class="px-3 py-2 text-sm font-medium rounded-md text-slate-300 hover:text-gray-900 hover:bg-slate-200">
                        {{ item.label }}
                    </a>
                }
                
            </div>
            
            <app-user-menu />
            
        </div>
    </div>
    


</nav>